@page
@model EntityFrame.Pages_Blog.IndexModel
@{
    ViewData["Title"] = "Index";
    int i = 0;
}

<h1>List Articles</h1>
<form>
    <label for="search">Search Article</label>
    <input type="text" name="search" />
    <button type="submit">Search</button>
</form>

<p>
    <a asp-page="Create" class="btn btn-primary">Create New Post</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>SN</th>
            <th>
                @Html.DisplayNameFor(model => model.Article[0].Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Article[0].Created)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Article)
        {
            <tr>
                <td>@(++i)</td>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Created)
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
@{
    var pagingmodel = new pyrich.Helpers.PagingModel()
            {
                currentPage = Model.currentPage,
                countPages = Model.countPages,
                generateUrl = (int? p) => Url.Page("/Blog/Index", new { p = p })
            };
}
<partial name="_PagingP" model="@pagingmodel" />
@* @{
// xây dựng Func phát sinh Url từ page ./Index
Func<int?, string> generateUrl = (int? _pagenumber) =>
{
return Url.Page("./User", new { pageNumber = _pagenumber });
};

var datapaging = new
{
currentPage = 2, // trang hiện tại
countPages = 20, // tổng số trang
generateUrl = generateUrl
};

}
<partial name="_PagingP" model="@datapaging" /> *@
